body,
.panel {
  background: #F6F6F6;
}

.navbar {
  background: #F03800;
}

#welcome-message {
  color: white;
}

.active {
  background: #d43201;
}

#chat {
  background: none;
  color: white;
}

.page-title {
  color: #E74519;
  font-size: 15px;
  vertical-align: middle;
  text-transform: capitalize;
  padding: 4px 0;
  margin: 0;
}

.crud-actions {
  list-style: none;
}

.crud-actions > li {
  float: left;
  margin-right: 10px;
}

.btn {
  text-transform: capitalize;
}

.btn-primary {
  background-color: #F03800;
  border-color: #F03800;
}

.validate-fn {
  font-size: 13px;
  color: #F03800;
}

.cart > .title {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #F03800;
  padding: 5px 13px;
}

.cart > ul {
  list-style: none;
  margin: 23px;
  padding: 0;
}

.cart > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-size: 12px;
  color: #999;
}

.social-icon {
  margin-right: 12px;
}

#accordion1 > li {
  margin: 0;
  box-shadow: none;
  border: 0;
}

#accordion1 > li > ul > li {
  font-size: 13px;
  margin: 12px 0;
}

#accordion1 ul {
  list-style: none;
}

#accordion1 .nav>li>a:focus, 
#accordion1 .nav>li>a:hover {
  background-color: #de9b89;
  color: white;
}

.add-new {
  margin-left: 20px;
  color: #E74519;
  font-size: 12px;
}

.add-new:hover {
  color: #E74519;
}

/* select2 override style */
.select2-container {
  width: 95% !important;
}

.select2-container * {
  border: 0 !important;
}

.select2-selection__choice,
.select2-selection__choice__remove {
  background-color: #E74519 !important;
  color: white !important;
}

/* bootstrap select override style */
.bootstrap-select > .btn {
  padding: 2px 14px;
  font-size: 12px;
  color: #888;
  border-color: #E74519;
}

.bootstrap-select > .btn:hover {
  background: #e4bbb0;
  color: white;
  text-shadow: none;
}

.bootstrap-select > .btn .bs-caret {
  color: #E74519;
}

.primary {
  color: #E74519;
}

/* css transform */
#accordion1 .glyphicon-chevron-right {
  margin-top: 3px;
  font-size: 11px;

  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#accordion1 * {
  color: #555;
}

.animate {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}

/*---*/

.border-primary {
  border-bottom: 1px solid #E74519;
  margin: 10px 0 20px 0;
}

.panel-info {
  background-color: white;
  padding: 15px;
}