.panel-info {
  padding: 30px;
}

.title {
  border-bottom: 1px solid red;
  padding: 5px 0;
  font-size: 17px;
  max-width: 82%;
}

.validate-fn {
  margin: 24px 0;
}

.hint {
  color: #888;
}

.search-file {
  border: 0;
  width: 90%;
}

.search-file:focus {
  outline: none;
}

.map-file {
  margin-top: 70px;
}

.search-wrapper {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px 5px 3px 12px;
  width: 70%;
}

.search-wrapper > .glyphicon-search {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
  color: #777;
}

.btn-load {
  background-color: #E74519;
  color: white;
  padding: 3px 18px;
  border-radius: 10px;
}

#map_columns td, 
#map_columns th {
  border-top: 0;
}

.bootstrap-select + .btn-load {
  padding: 1px 10px;
  font-size: 13px;
}