body {
  background: white;
}
.comments {
  width: 100%;
  border-color: #ddd;
  border-radius: 4px;
  padding: 10px;
}
.separator {
  border-bottom: 1px solid #E74519;
}
.title {
  font-size: 22px;
    text-transform: capitalize;
    color: #E74519;
    font-weight: normal;
}

.required-lable {
  color: #E74519;
  text-transform: capitalize;
  margin-top: 10px;
}

.content, header {
  width: 85%;
  margin: 0 auto;
}

.input-wrapper {
  display: inline-block;
    border-bottom: 1px solid #ccc;
    width: 35%;
}
.comment {
  width: 60%;
  margin-top: 40px !important;
}
.email {
  border: 0;
    width: 88%;
    display: inline-block;
    box-shadow: none;
    padding-left: 0;
}
.check {
  width: 14px;
}
.rate {
  display: inline-block;
}
.rating-labels {
  color: #E74519;
  margin-top: 5px;
    font-size: 12px;
}
.table>tbody>tr>td {
  border: 0;
}

.table>tbody>tr>td.vertical-middle {
  vertical-align: middle;
}
.btn-submit {
  background: #E74519;
  color: white;
  margin-bottom: 40px;
}
.intro {
  margin: 20px 0 15px 0;
}
.cart {
  margin: 20px 0;
}