.panel-info {
  padding: 30px;
}
.validate-fn {
  font-size: 14px;
}

.title {
  border-bottom: 1px solid red;
  padding: 5px 0;
  font-weight: normal;
  font-size: 15px;
  max-width: 82%;
}
.hint {
  color: #ccc;
    font-size: 13px;
    font-weight: normal;
}
.btn-check {
  border-color: red;
    font-weight: normal;
    font-size: 10px;
    border-radius: 7px;
    padding: 5px 8px;
    
}
.btn-check span {
  color: red;
}
.input-scale {
  width: 70%;
  display: inline-block;
  border-radius: 7px;
    border-color: #a5a5a5;
    margin: 0 13px 0 5px;
    height: 27px;
}
.scale {
  margin-bottom: 14px;
}
.action {
  margin: 41px 0 60px;
}
.search-wrapper {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px 5px 3px 12px;
  width: 70%;
}

.search-wrapper > .glyphicon-search {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
  color: #777;
}

.search-list {
  list-style: none;
  margin: 28px 0 57px 0;
    padding: 0;
}

.search-list li {
  font-size: 13px;
  margin-bottom: 10px;
}

.search-list .glyphicon-remove {
  font-size: 12px;
    color: #c1c1c1;
    margin-right: 20px;
}
.search-contact {
  border: 0;
  width: 88%;
}

.input-generate {
  border: 0;
  width: 63%;
}
.generate-input > .search-wrapper{
  padding: 0;
    border-color: red;
}
.generate-input > .search-wrapper > span {
  background: red;
    display: inline-block;
    color: white;
    border-radius: 7px 0 0 7px;
    padding: 5px 11px 2px 11px;
    font-size: 12px;
}
.generate-input > .search-wrapper > input {
  padding: 0;
}
.btn-load {
  background-color: #E74519;
  color: white;
  padding: 3px 18px;
  border-radius: 10px;
}