.panel-info {
  padding: 30px;
}

.cart .label-name {
  font-weight: normal;
  text-align: left;
}

.validate-fn {
  font-size: 15px;
}

.search-wrapper {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px 5px 3px 12px;
  width: 100%;
}

.search-wrapper > .glyphicon-search {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
  color: #777;
}

.search-wrapper > input {
  border: 0;
  width: 90%;
}

.search-wrapper > input:focus {
  outline: none;
}

.date-picker {
  width: 90%;
}